.headline-primary {
    color: $remarks-color;
    margin-left: 10px;
  }
  
  .headline-secondary {
    font-weight: 300;
    color: $primary-color;
  }
  
  .link {
    color: $links-default;
    font-weight: 700;
  }
  
  .blockquote {
    font-size: 1.5em;
    font-weight: 300;
    font-style: italic;
    margin-left: 20px;
    padding-left: 20px;
    border-left: 8px solid $remarks-color;
    border-radius: 5px;
  }